html, body{
    height: 100%;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(#000000, #101010,#232594);
}
section{
    padding: 2%;
}
.div_de_inicio{
    display: flex;            
    justify-content: center;  
    align-items: center;       
    gap: 15px;      
}
.inicio {
    border-radius: 100%;
    width: 15%;        
    max-width: 150px; 
    min-width: 60px;   
    height: auto;      
}


h1{
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#000000, #101010,#232594);
}
