html, body{
    height: 1500px;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(#000000,#007bff);
}
section{
    padding: 2%;
}
.div_de_inicio{
    display: flex;            
    justify-content: center;  
    align-items: center;       
    gap: 15px;      
}
.primer_div_de_inicio{
    display: flex;            
    justify-content: space-between;  
    align-items: center;       
    gap: 15%;      
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 40px;
    padding: 10px;
    background: linear-gradient(#000000,#007bff);
    background-repeat: no-repeat;
}
.logo_del_cole{
    max-width: 150;
    width: 10%;
    height: auto;
    margin-right: 10px;
}
h1{
    font-size: 200%;
    font-style: italic;
    margin-left: 10px;
}
h2{
    font-style: italic;
}
p{
    font-size: 20px;
    font-style: italic;
}
/* --BOTONES-- */
nav{
    margin-top: 20px;
    background-color: #0048cc;
    border-radius: 15px;
    padding: 1%;
}
.botones-superiores{
    display: flex;            
    justify-content: center;  
    align-items: center;       
}
.botones-inferiores{
    display: flex;            
    justify-content: center;  
    align-items: center;       
    margin: 1px;
}
.button1,.button2,.button3,.button4{
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    border-radius: 12px;
    width: 80%;
    height: 80px;
}
.button1, .button4{
    background-color: #007bff;
}
.button2, .button3{
    background-color: transparent;
}
/* --BORDES PERSONALIZADOS-- */
.button1{
    border-bottom-right-radius: 0;
}
.button2{
    border-bottom-left-radius: 0;
}
.button3{
    border-top-right-radius: 0;
}
.button4{
    border-top-left-radius: 0;
}


/* --HOVERS-- */
.button1:hover{
    background-color: #101010;
}
.button4:hover{
    background-color: #101010
}
.button2:hover{
    background-color: #1a1a2c;
}
.button3:hover{
    background-color: #1a1a2c;
}

/* --IMAGENES-- */
.contenedor {
    position: relative;
    display: inline-block;
  }
  
  .contenedor img {
    width: 317px;
    height: auto;
    display: block;
    border-radius: 2px;
  }
  
  .texto {
    position: absolute;
    bottom: 1px; 
    left: 1px;
    color: white;
    font-size: 15px;
    background: rgba(0,0,0,0.5); 
    padding: 2px 5px;
    border-radius: 5px;
  }

/* --TITULITO-- */
.h2_contenedor{
    text-align: center;
    text-decoration: underline aliceblue;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 0;
}

  
/* --MÁS INFO EN LAS ULTIMAS IMAGENES-- */
.contenedor2 {
    position: relative;
    display: inline-block;
  }
  
  .contenedor2 img {
    width: 317px;
    height: auto;
    border-radius: 5px;
    display: block;
  }
  
  
  .plus2 {
    position: absolute;
    bottom: 10px;       
    right: 10px;     
    font-size: 15px;
    font-weight: bold;
    color: white;
    background:#007bff;
    border-radius: 100%;
    padding: 2px 6px;
    cursor: pointer;
    z-index: 2;
  }
  
  /* El cartel con más info */
  .info2 {
    position: absolute;
    top: 0;
    right: 33px;  
    width: 200px;
    background:#007bff;
    color: white;
    padding: 10px;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  /* Mostrar info al pasar el mouse sobre el "+" */
  .plus2:hover + .info2 {
    visibility: visible;
    opacity: 1;
  }
  
/*HIPERVINCULOS*/
a{
    margin: 0;
    padding: 0;
    
}
footer{
    text-align: right;
}